/* a{
    border:8px solid black;
     margin: 30px;
    padding: 30px;
    height: 100px;
    width: 300px;
} */
a{
 border:8px solid black;
 margin: 20px;
 padding: 20px; 
 height: 50px;
 width: 500px;
 background-color:darkcyan;
}



    