body{
    font-family:Arial, Helvetica, sans-serif;

}
.box1, .box2{
    border: 2px solid #444;
    padding: 10px;

}
.box1{
    margin-bottom:30px;
    background-color: darkcyan;
    border:8px dotted black;

}
.box2{
    margin-top:20px;
    background-color: darkcyan;
    border:8px double red;
}